<div class="container app-main">
  <div class="row">
    <div class="col">
      <h1>Course Overview</h1>
    </div>
  </div>
  <div class="row">
    <div class="col">
      Home Content
    </div>
  </div>
</div>

  <!--
  <div class="row bar-bar">
    {% if page.title_secondary %}
      <div class="col-md-6 bar-primary">
        <h1>{% if page.title_bar %}{{ page.title_bar }}{% else %}{{ page.title }}{% endif %}</h1>
      </div>
      <div class="col-md-6 bar-secondary">
        <p>{{ page.title_secondary }}</p>
      </div>
    {% else %}
      <div class="col-md-12 bar-primary">
        <h1>{% if page.title_bar %}{{ page.title_bar }}{% else %}{{ page.title }}{% endif %}</h1>
      </div>
    {% endif %}
  </div>
  -->

  <!-- Content -->
  <!-- {{ content }} -->
<!-- Main End -->
