<ng-template #content>
<div class="alert alert-danger">
This page is still being migrated and developed. All content remains subject to change.
</div>

  <div class="calendar">
    <div class="week" *ngFor="let currentWeek of datesOfInstructionByWeek()">
      <div class="day" *ngFor="let currentDay of datesOfWeekdaysForWeek(currentWeek)">
        <p>{{ moment(currentDay).format('MMM D') }}</p>
      </div>
    </div>
  </div>
</ng-template>

<div class="container app-main">
  <div class="row">
    <div class="col">
      <h1>Calendar</h1>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <ng-container *ngTemplateOutlet="content"></ng-container>
    </div>
  </div>
</div>
