<!--
  -- ng-template can only appear once, so we capture it and use an ngTemplateOutput
  -- https://stackoverflow.com/questions/44699469/how-to-use-multiple-ng-content-in-the-same-component-in-angular-2
  -->

<ng-template #content><ng-content></ng-content></ng-template>

<ng-container *ngIf="isInternal()">
  <a *ngIf="!isInternalWithAnchor()" [routerLink]="linkHREF">
    <ng-container *ngTemplateOutlet="content"></ng-container>
  </a>
  <a *ngIf="isInternalWithAnchor()" [routerLink]="linkHREF.split('#')[0]" [fragment]="linkHREF.split('#')[1]">
    <ng-container *ngTemplateOutlet="content"></ng-container>
  </a>
</ng-container>
<a *ngIf="isPageAnchor()" [routerLink]="'./'" [fragment]="linkHREF.slice(1)">
  <ng-container *ngTemplateOutlet="content"></ng-container>
</a>
<a *ngIf="isExternal()" [href]="linkHREF" target="_blank">
  <ng-container *ngTemplateOutlet="content"></ng-container>
</a>
