<div class="container app-main">
  <div class="row">
    <div class="col-md-9">
      <router-outlet></router-outlet>
    </div>
    <div class="col-md-3">
      <markdown ngPreserveWhitespaces>
        [Assignment 0](/assignments/assignment0)

        [Assignment 1](/assignments/assignment1)

        [Assignment 2](/assignments/assignment2)

        [Assignment 3](/assignments/assignment3)

        [Assignment 4](/assignments/assignment4)

        [Readings](/assignments/readings)
      </markdown>
    </div>
  </div>
</div>
